In [13]:
import pandas as pd

In [66]:
def readfile(filename):
    '''
    read file
    return format :
    [ ['EU', 'B-ORG'], ['rejects', 'O'], ['German', 'B-MISC'], ['call', 'O'], ['to', 'O'], ['boycott', 'O'], ['British', 'B-MISC'], ['lamb', 'O'], ['.', 'O'] ]
    '''
    f = open(filename)
    sentences = []
    sentence = []
    for line in f:
        if len(line)==0 or line.startswith('-DOCSTART') or line[0]=="\n":
            if len(sentence) > 0:
                sentences.append(sentence)
                sentence = []
            continue
        splits = line.split(' ')
        sentence.append([splits[0],splits[-1]])

    if len(sentence) >0:
        sentences.append(sentence)
        sentence = []
    return sentences

In [67]:
data = readfile('/Users/jonashansen/Documents/GitHub/NLP/starwars-data/StarWars_Full.conll')

1023 sentences

In [147]:
print('Number of sentences:',len(data))

Number of sentences: 1023

In [46]:
flat_list = [
    x
    for xs in data
    for x in xs
]

In [69]:
df =  pd.DataFrame(flat_list, columns=['word','emb'])
df = df.groupby('emb')
df=df.agg({"word":'nunique'}).reset_index()

In [74]:
df.iloc[9:,1] = 2723
df = df.drop(df[df['emb'] == 'O'].index)

In [80]:
ratio = df.iloc[:,1]/sum(df.iloc[:,1])

In [82]:
df.insert(2,'Ratio',ratio,True)

In [115]:
df

        emb  word     Ratio
0   B-LOC\n   199  0.045496
1  B-MISC\n   264  0.060357
2   B-ORG\n   110  0.025149
3   B-PER\n   362  0.082762
4   I-LOC\n   113  0.025834
5  I-MISC\n   207  0.047325
6   I-ORG\n   132  0.030178
7   I-PER\n   264  0.060357
9       O\n  2723  0.622542

In [123]:
occurances = [df.iat[0,1]+df.iat[4,1],df.iat[1,1]+df.iat[5,1],df.iat[2,1]+df.iat[6,1],df.iat[3,1]+df.iat[7,1],df.iat[8,1]]
emb =['LOC','MISC','ORG','PER','O']

In [135]:
Summed = pd.DataFrame(occurances,emb, columns=['occurances'])

In [143]:
sum_ratio =Summed['occurances']/sum(Summed['occurances'])
Summed.insert(1,'ratio',sum_ratio)

In [144]:
Summed

      occurances     ratio
LOC          312  0.071331
MISC         471  0.107682
ORG          242  0.055327
PER          626  0.143118
O           2723  0.622542